* {
    box-sizing: border-box;
    
}
li {
    float: right;
}

nav a {
    padding: 2px;

}

li {
    background-color: rgb(94, 233, 52);
    display: inline;
    margin-right: 20px;
}
.h-buttons {
    margin-top: 450px;
    margin-bottom: 100px;
}

.h-buttons button {
    border-radius: 40px;
    color: rgb(245, 105, 105);
}
