* {
    box-sizing: border-box;
    
}
li {
    float: right;
}

nav a {
    padding: 2px;

}

li {
    background-color: rgb(94, 233, 52);
    display: inline;
    margin-right: 20px;
}
.h-buttons {
    margin-top: 450px;
    margin-bottom: 100px;
}

.h-buttons button {
    border-radius: 40px;
    color: rgb(245, 105, 105);
}
.intro {
    background-image: url(../images/p4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 620px;
    text-align: right;
    color: white;
}

.text-center p {
    margin-top: 300px;
}

#spantext {
    color: yellow;
}

.exe {
    color: rgb(65, 53, 233);
}

#piz-pap {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
    color: rgb(245, 29, 29);
}
#order-pizza {
    color: rgb(245, 29, 29);
}

.order {
    background-color: rgb(245, 29, 29);
}

#list li {
    font-size: 24px;
    font-family: system-ui, serif;
}

.order-summary h1,
.summary,
.contact {
    color: rgb(245, 29, 29);
    font-family: 'Happy client day', cursive;
    margin-top: 30px;
}

.col-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

.menu {
    height: 300px;
}

.customerdata {
    display: none;
}

.contact>h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 25px;
}

#form1,
#form2,
#form3 {
    background-color: transparent;
}

textarea {
    width: 100%;
    height: 200px;
    color: white;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#sayhi ::placeholder {
    color: white;
}

#sayhi input {
    color: white;
    background-color: transparent;
}

.finalAmount,
.delivery-cost {
    font-weight: bold;
    font-size: 1.6em;
}

.hidden {
    display: none;
}
.checkout-options,
.location {
    background: rgb(29, 43, 245);
    padding: 20px;
    width: 80%;
    height: 60vh;
}